@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .maintitle {
    @apply text-2xl text-black sm:text-lg;
  }
  .pointBu01 {
    @apply transition cursor-pointer flex justify-center items-center px-5 py-3 font-normal rounded-md bg-pointCol03 text-black hover:bg-pointCol05 hover:text-white sm:py-2 px-3 text-[12px];
  }
  .pointBu02 {
    @apply transition cursor-pointer flex justify-center items-center px-5 py-3 rounded-md  bg-pointCol05 text-white hover:bg-pointCol02 sm:py-2 px-3 text-[12px];
  }
  .pointBu03 {
    @apply transition cursor-pointer flex justify-center items-center px-5 py-3 rounded-md bg-pointCol02 text-white hover:bg-pointCol03 hover:text-black sm:py-2 px-3 text-[12px];
  }
  .inputBox {
    @apply transition border-[1px] border-black/[.3] border-solid w-full	 rounded-md h-9  pl-3 hover:outline-pointCol02 active:outline-pointCol02 min-h-[2.25rem];
  }
  .disabledInput {
    @apply border-[#ff3f3f] border-[2px];
  }
  .notice {
    @apply text-[12px] mt-1.5 text-[#ff3f3f];
  }
  .labelText {
    @apply text-base font-light pt-5 pb-2 block sm:pt-3 pb-1.5 text-sm;
  }
  .LoginBox {
    @apply flex flex-col items-center bg-cover pt-24 bg-center pb-24 sm:pb-14;
  }
  .LoginForm {
    @apply bg-white rounded-lg w-full shadow-lg mt-14 mb-10 p-11 sm:p-8;
  }
  .snsBtn {
    @apply transition flex justify-center items-center border-[1px] border-[rgba(0,0,0,.3)] shadow-md bg-white w-full h-[3.5rem] rounded-md my-1 hover:border-black sm:h-[3rem] text-[14px];
  }
}
